<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="rtl" lang="he" prefix="og: http://ogp.me/ns#">

<head>
	<script>
		(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-WGPN5N');
	</script>
	<title>הסבר כללי למפתחים - תוכנה לניהול עסק - OfficeGuy</title>
	<meta name="description" property="og:description"
		content="OfficeGuy היא מערכת מקיפה לתכנון, ניהול וביצוע ומיועדת לעצמאיים, מלכ&quot;רים וארגונים עסקיים. בקרו באתר להסבר כללי על תמיכה במפתחים ובעלי באתרים." />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1, user-scalable=no" />
	<link rel="canonical" href="https://app.sumit.co.il/help/developers/" />
	<script type="application/ld+json">
		{"@context":"http://schema.org","@type":"NewsArticle","url":"https://app.sumit.co.il/help/developers/","datePublished":"2018-05-16T07:41:00Z","dateModified":"2019-07-03T12:08:00Z","headline":"הסבר כללי למפתחים - תוכנה לניהול עסק - OfficeGuy","image": ["https://app.sumit.co.il/content/images/logo_sumit.png"],"publisher":{"@type":"Organization","name":"OfficeGuy Ltd.","logo": { "@type": "ImageObject", "url": "https://app.sumit.co.il" }},"author":{"@type":"Person","name":"איש המשרד"},"mainEntityOfPage":{"@type":"WebPage","id":"https://app.sumit.co.il/help/developers/"}}
	</script>
	<link href="/content/sumit.css?63819048944" rel="stylesheet" type="text/css" />
	<link rel="preload" href="/content/font/pinghl-regular.otf" as="font" crossorigin="anonymous">
	<link rel="preload" href="/content/font/pinghl-medium.otf" as="font" crossorigin="anonymous">
	<link rel="preload" href="/content/font/pinghl-heavy.otf" as="font" crossorigin="anonymous">
	<link rel="preload" href="/content/font/fontello.woff2?16488301" as="font" crossorigin="anonymous">
	<script type="text/javascript" src="/scripts/og-external.js?63819048944"></script>
	<script type="text/javascript" src="/scripts/og.js?63819048944"></script>
</head>

<body dir="rtl" class="layout-external-body">
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGPN5N" height="0" width="0"
			style="display:none;visibility:hidden"></iframe>
	</noscript>

	<div id="main-page">
		<div id="main-content" class="layout-external-main-content">


			<script type="text/javascript">
				OfficeGuy.Common.AntiForgeryToken='CfDJ8CXvvp3-KE1Jlvr08HmJ2I0HPAddPFQJUMWrYOaG4SoOH4wH8cKP6Nc2nSaW3AkMdNdPII_cyrIwDcIkW_Q2pddCHn-gjnFPezd-s6PqRNJoWKVodKS0rRly_SFCjTAAPJzAGAsUk9pS-jQ6DOehbec';
OfficeGuy.Common.PageLoad(null, 0, 0, 0, 1);
			</script>


			<div class="layout-external-navigation-bar">
				<div>הסבר כללי למפתחים</div>
			</div>

			<div id="main-inner" class="layout-external-main-inner">


				<div class="og-section">
					<div class="og-landing-content">
						<div>המערכת מציעה למפתחים ולבעלי אתרים לבצע אינטגרציה במגוון תחומים, בקלות ובנוחות. </div>
						<div>נשמח לעמוד לרשותכם לכל שאלה או צורך, תרגישו בנוח <a class="modalable"
								href="/contact/">ליצור איתנו קשר</a>. </div><a href="/help/creditcard/pci/">המערכת עומדת
							בתקן PCI Level 1</a>
						<div>
							<div> </div>
							<h2>האינטגרציות הנפוצות ביותר</h2>
							<div>
								<ul>
									<li><a href="/help/accounting/developers/">ממשקים מול אפליקציית ניהול חשבונות</a> -
										יצירת מסמך (חשבונית/קבלה, דרישת תשלום וכו'), שליחת מסמכים בדוא"ל, עדכוני
										המוצרים/השירותים וכו'.</li>
									<li><a href="/help/creditcard/developers/">ממשקים מול אפליקציית סליקת אשראי/הוראות
											קבע</a> - יצירת סליקת אשראי, יצירת הוראות קבע, הפעלת תהליך Redirect לטובת
										סליקת אשראי מאובטחת מתוך אתר אינטרנט וכו'.</li>
								</ul>
							</div>
							<h2>איך מתחילים באינטגרציה?</h2>
							<div>תהליך האינטגרציה מורכב ממס' שלבים פשוטים:</div>
							<div>
								<ul>
									<li>הרשמה למערכת.</li>
									<li>התקנת האפליקציה הנדרשת (ניהול חשבונות, סליקת אשראי, או כל אפליקציה אחרת שמולה
										תרצו לבצע את האינטגרציה).</li>
									<li><a href="/developers/keys/">הגדרת מפתחות API</a>, לטובת ההזדהות באמצעות API.
									</li>
									<li style="direction: rtl;">תחילת הפיתוח בצד שלכם. מומלץ לבדוק את <a
											href="/help/developers/libraries/">הספריות למפתחים</a> שאנחנו מציעים עבור
										השפות והטכנולוגיות השונות. קיימות גם <a href="/help/developers/samples/">דוגמאות
											לשימוש בספריות</a>.<br></li>
									<li style="direction: rtl;"><a href="/help/developers/tests/">במידת הצורך, ניתן גם
											לבצע את בדיקות האינטגרציה מול ארגון נפרד מזה המתבצעת בו פעילות הארגון</a>.
									</li>
								</ul>
							</div>
							<h2><span style>אפשרויות נוספות</span></h2>
							<div>קיימות אפשרויות רבות נוספות לאינטגרציה, חלקן מפורטות <a
									href="/help/developers/api/">בדף מפרט ה-API</a> שלנו, וחלקן עוד לא הספקנו לעדכן פה.
							</div>
							<div>אנחנו גם תמיד שמחים לשמוע הצעות לייעול ושיפור, ולחשוב על ממשקים חכמים נוספים. <a
									class="modalable" href="/contact/">צרו איתנו קשר</a> במידה ולא מצאתם את האינטגרציה
								או הממשק שחיפשתם.</div>
						</div>
					</div>

				</div>

				<!-- 22ms -->
			</div>

		</div>
	</div>
</body>

</html>